<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="css/nv.d3.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div id="abTest">
    <svg></svg>
</div>

<div class="container">
    <h2>Run A/B tests
        <small>Inputs</small>
    </h2>

    <form id="runTest">
        <div class="group">
            <input id="urlA" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Test url A</label>
        </div>

        <div class="group">
            <input id="urlB" type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Test url B</label>
        </div>
        <button type="submit" class="mui-btn mui-btn--raised">Run tests</button>
    </form>
</div>

<script src="js/d3.v3.min.js" charset="utf-8"></script>
<script src="js/nv.d3.min.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/chart.js"></script>

</body>
</html>
